<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <script type="text/JavaScript" language="JavaScript">
function cngit()
{
var w = DonateForm.elements["shopping-cart.items.item-1.subscription.period"].selectedIndex;
var selected_text = DonateForm.elements["shopping-cart.items.item-1.subscription.period"].options[w].text;
var a = document.getElementById('OtherAmountBox').value;
//alert(a);
// // ############### ONE  #########
if ((a != "") && (selected_text == "One Time"))
{
//alert("THE Other Amount BOX IS *NOT* EMPTY and THE FREQUENCY IS *ONCE*");
var txt = a;
var tbox = document.getElementById('OtherAmountBoxInputTag');
tbox.value = txt;
// // set maximum charge
// //var Max = document.getElementById('maxCharge');
// //Max.value = a;
// 
var removeMax = document.getElementById('maxCharge');
removeMax.parentNode.removeChild(removeMax);
 
// remove the other amount box below
var dc = document.getElementById('OtherAmountBox');
dc.parentNode.removeChild(dc);
}
// // ######### TWO ##############
if ((a != "") && (selected_text != "One Time"))
{
//alert("this is TWO");
//alert("THE Other Amount BOX IS *NOT* EMPTY and THE FREQUENCY IS MORE THAN ONCE");
// THE VALUE OF THE UNIT PRICE MUST BE SET TO ZERO
var txt = 0;
var tbox = document.getElementById('OtherAmountBoxInputTag');
tbox.value = txt;
document.getElementById('UnitPrice').value="0";

var Max = document.getElementById('maxCharge');
Max.value = a;

var dc = document.getElementById('OtherAmountBox');
dc.parentNode.removeChild(dc);
}
// ######### THREE ##############
if ((a == "") && (selected_text != "One Time"))
{
//alert("this is number three");
//alert("THE Other Amount BOX IS **EMPTY** AND THE FREQUENCY IS MORE THAN ONCE");
// IF FREQUENCY IS MORE THAN ONCE *AND* Other Amount BOX IS NOT EMPTY 
// THEN SET THE MAXIMUM CHARGE TO THE VALUE FROM OTHER AMOUNT BOX
// THE VALUE OF THE UNIT PRICE MUST BE SET TO ZERO

var RadioButtonValue = document.getElementById('UnitPrice').value;
//alert(RadioButtonValue);
//alert("still running1");
var Max = document.getElementById('maxCharge');
Max.value = RadioButtonValue;
//alert("still running3");
var txt = 0;
var tbox = document.getElementById('OtherAmountBoxInputTag');
tbox.value = txt;
document.getElementById('UnitPrice').value="0";

var dc = document.getElementById('OtherAmountBox');
dc.parentNode.removeChild(dc);
}
// ######### FOUR ##############
if ((a == "") && (selected_text == "One Time"))
{
//alert("this is number four");
//alert("Other Amount box *IS* empty AND the frequency is *ONE TIME*");
// THEN SET THE MAXIMUM CHARGE TO THE VALUE of whatever radio button is checked
//var setMax = document.getElementById('UnitPrice').value;
//alert(setMax)
//var Max = document.getElementById('maxCharge');
//Max.value = setMax;
//document.getElementById('UnitPrice').value="0";

var removeMax = document.getElementById('maxCharge');
removeMax.parentNode.removeChild(removeMax);

// remove the other amount box below
var dc = document.getElementById('OtherAmountBox');
dc.parentNode.removeChild(dc);
}
// //alert("end of this bit");
}
</script><script type="text/JavaScript" language="JavaScript">
function enableField()
{
var w = DonateForm.elements["shopping-cart.items.item-1.subscription.period"].selectedIndex;
var selected_text = DonateForm.elements["shopping-cart.items.item-1.subscription.period"].options[w].text;
if(selected_text == "One Time")
{
var elem = document.getElementById('Selection');
elem.parentNode.removeChild(elem);
var dc = document.getElementById('DigitalContent');
dc.parentNode.removeChild(dc);
var st = document.getElementById('SubType');
st.parentNode.removeChild(st);

DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.quantity"].disabled=true;
// ### NOTE THE ELEMENT BELOW IS  TRUE  IN BOTH CASES BECAUSE GOOGLE SEEMS TO REQUIRE IT
//DonateForm.elements["shopping-cart.items.item-1.item-name"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.item-name"].disabled=true;
//DonateForm.elements["shopping-cart.items.item-1.item-description"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.item-description"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.unit-price"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.unit-price.currency"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.unit-price.currency"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.payments.subscription-payment-1.times"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.payments.subscription-payment-1.maximum-charge"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.digital-content.display-disposition"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.digital-content.display-disposition"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.digital-content.url"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.digital-content.description"].disabled=true;
}
else
{
//alert("selected is more than once")
//DonateForm.elements["shopping-cart.items.item-1.quantity"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.quantity"].disabled=false;
//DonateForm.elements["shopping-cart.items.item-1.item-name"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.item-name"].disabled=false;
//DonateForm.elements["shopping-cart.items.item-1.item-description"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.item-description"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.unit-price"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.unit-price.currency"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.unit-price.currency"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.subscription.payments.subscription-payment-1.times"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.subscription.payments.subscription-payment-1.maximum-charge"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.digital-content.display-disposition"].disabled=true;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.digital-content.display-disposition"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.digital-content.url"].disabled=false;
DonateForm.elements["shopping-cart.items.item-1.subscription.recurrent-item.digital-content.description"].disabled=false;
}
}
</script>

<script type="text/JavaScript" language="JavaScript">
function addOtherAmount()
{
var zz = document.getElementById('OtherAmountBox').value;
if (zz == "");
{
}else if(selected_text == "One Time" && if (zz == "");
{
}
}
///      var OtherAmountBoxInput = document.getElementById('OtherAmountBoxInputTag');
///      DonateForm.elements["shopping-cart.items.item-1.unit-price"].value == OtherAmountBoxValue;
</script><script type="text/JavaScript" language="JavaScript">
function doSomething()
{

// If the Other Amount box is NOT empty AND the frequency of donation is ONCE
//  THEN  put the value that is in the Other Amount Box into the Unit Price tag
var zz = DonateForm.elements["AmountBoxshopping-cart.items.item-1.unit-price"].value;
var w = DonateForm.elements["shopping-cart.items.item-1.subscription.period"].selectedIndex;
var selected_text = DonateForm.elements["shopping-cart.items.item-1.subscription.period"].options[w].text;
if ((zz != "") && (selected_text == "One Time"))
{
//alert("the Other Amount box is NOT empty AND the frequency of donation is ONCE")

var What = document.getElementById('OtherAmountBox').value;
var WhatThe = document.getElementById('UnitPrice').value;
document.getElementById('UnitPrice').value = What;
var WhatThe = document.getElementById('UnitPrice').value;
}
}
</script><script language="Javascript 1.2" type="text/javascript">

//<![CDATA[
    function show(id)
    {
        el = document.getElementById(id);
        if (el.style.display == 'none')
        {
                el.style.display = '';
                el = document.getElementById('more' + id);
                el.innerHTML = 'less...';
        } else {
                el.style.display = 'none';
                el = document.getElementById('more' + id);
                el.innerHTML = 'more...';
        }
    }
//]]>
    </script><!-- THE SCRIPT BELOW PUTS RESULT OF THE MONTHLY DROP-DOWN INTO THE FORM 
        #### THIS IS COMMENTED OUT TO SEE IF IT CAN BE EMLIMINATED
script type="text/JavaScript" language="JavaScript">
        
        function changeValue(dropdown)
        {
        document.DonateForm.itemDescription.value = dropdown.value;
        <input type="hidden" name="shopping-cart.items.item-1.quantity" value="1" type="text"><br>
        <input type="hidden" name="shopping-cart.items.item-1.subscription.recurrent-item.quantity" value="1">
        }
        </SCRIPT>
 THE SCRIPT ABOVE PUTS RESULT OF THE MONTHLY DROP-DOWN INTO THE FORM 
        #### THIS IS COMMENTED OUT TO SEE IF IT CAN BE EMLIMINATED --><script type="text/JavaScript" language="JavaScript">
    function focusTextBox() {
	document.getElementById('OtherAmountBox').focus();
    }	
</script><script type="text/JavaScript" language="JavaScript">
function selectRadioButton()
{
document.getElementById('OtherAmountBoxInputTag').checked="true";
}
</script><script type="text/JavaScript" language="JavaScript">
    function clearTextBox() {
	document.getElementById('OtherAmountBox').value = "";
    }	
</script><script language="javascript" type="text/javascript">
function setUnitPrice()
{
var w = document.getElementById('Selection').value;
if(w != "ONCE")
document.getElementById('UnitPrice').value="0";
}
</script>
  <title><%= page_title %></title>
  <%= render 'shared/header' -%>
</head>
<body>
  <%= cms_toolbar -%>
  <div id="main-doc" class="yui-t6">
    <div id="hd" role="banner">
      <div id="banner">
        <a href="/"><img src="/themes/mano/images/mano-logo-hands.jpg" alt="logo"/></a><a href="/"><img src="/themes/mano/images/mano-logo.jpg" alt="logo"/></a><a href="/"><img src="/images/banner-shim-lg.jpg" alt="shim"></a><a href="/donate"><img src="/themes/mano/images/donate-button-round-red2.jpg" alt="donate image"/></a>
      </div>
      <%= render 'shared/menu' -%>
    </div>
    <div id="bd" role="main">
  	  <div class="yui-g">
        <%= container :main %>
      </div>
  	</div>
    <div id="ft" role="contentinfo"><%= render 'shared/footer' %></div>
  </div>
</body>
</html>
