
<p>
	<%= f.label :address_line_one, "Address:" %>*
	<%= f.text_field :address_line_one %>
</p>
<p>
	<td><%= f.label :city, "City:" %>*
	<td><%= f.text_field :city %>
</p>
<p>
	<td><%= f.label :state, "State:" %>*
	<td><%= f.text_field :state, :size => 2, :maxlength => 2 %>
</p>
<p>
	<%= f.label :zip, "Zip:" %>*
	<%= f.text_field :zip, :size => 5, :maxlength => 5 %>
</p>
<p>
	<%= f.label :country, "Country:" %>*
	<%= f.select :country, COUNTRIES %>
</p>